package {{packageName}};

import javax.inject.Inject;
import javax.inject.Singleton;
import lombok.Data;
import org.springframework.stereotype.Component;

{{#fields}}
import {{type.packageName}}.{{type.name}};
{{/fields}}

@Data @Component @Singleton
public class {{name}} {

{{#fields}}
	@Inject
	{{type.name}} {{fieldName}};
{{/fields}}

}
